argh==0.26.2
mpyq==0.2.5
pathtools==0.1.2
PyYAML==5.3
watchdog==0.9.0
Use -> pip install --user --force-reinstall git+https://github.com/ggtracker/sc2reader.git <- to install sc2reader PYPI is out of date  (Remove this line from requirments.txt to install the rest) 
